header,
nav,
main {
  max-width: 1240px;
  margin: auto;
}
/* PHONE LINK STUFF */
#headerWrapper {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

#phone-link-container {
  position: absolute;
  top: 1rem;
  right: 1.3rem;
  margin: 10px;
}

a.phone-link {
  font-size: 1.4rem;
}

/* START OF HEADER  */
header {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a {
  font-size: 0.9rem;
  padding: 0.5rem 1.2rem;
}

/* MAIN  */

/* START OF SLIDER */
.swiper-heading {
  left: 0.65rem;
  padding: 0.8rem;
  h3,
  p {
    line-height: 1.7rem;
    font-size: 1.3rem;
  }
}
// END OF SLIDER SECTION

/* 4 MASKING IMAGES */
div.masks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* CUSTOMER REVIEWS START */
.reviews {
  div {
    grid-template-columns: 200px auto;
    column-gap: 10px;
    p {
      align-self: center;
      padding: 1rem;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  } // End Section
} // End Parent
