/* START OF HEADER  */
header {
  margin: 0.5rem 0;
}

/* NAVIGATION STUFF GOES HERE  */
nav button {
  display: none;
}

nav {
  background-color: $menuColor;

  ul {
    display: flex;
    margin-left: 2%;
  }
  ul li {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  ul li a {
    display: block;
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: background 0.3s linear;
    font-weight: $normalWeight;
  }
  ul li a:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  #primaryNav li.parent > a:after {
    content: "\25BC";
    font-size: 0.65rem;
    color: rgba(255, 255, 255, 0.5);
    float: left;
  }
  ul li ul {
    display: flex;
    flex-direction: column;
    background-color: darken($menuColor, 5%);
    border: none;
    width: 14rem;
    position: absolute;
    left: -999rem;
    z-index: 99;
  } // CHILD UL
  ul li ul li {
    border-right: none;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
  } // CHILD LI
  ul li:hover ul {
    left: auto;
    margin-left: 0;
  }
  li.active a {
    background-color: rgba(0, 0, 0, 0.25);
  }
} // END OF NAV

/* MAIN  */
/* START OF SLIDER */
.swiper-heading {
  bottom: 1rem;
  left: 0.55rem;
  padding: 15px;
  h3,
  p {
    line-height: 1.5rem;
    font-size: 1.1rem;
  }
}
// END OF SLIDER SECTION

/* 4 MASKING IMAGES */
div#mainWrapper main div.mask-head h1 {
  padding: 0.8rem;
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

div.masks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

/* CUSTOMER REVIEWS START */
div#mainWrapper main h1 {
  margin: 0.8rem 0.6rem;
}

div.reviews {
  margin: 0 0.4rem;
  section {
    display: grid;
    grid-template-columns: 140px auto;
    column-gap: 10px;
    padding: 10px;
    p {
      margin-top: 0;
      padding: 0.4rem;
      font-size: 1rem;
      align-self: center;
      line-height: 1.3rem;
    }
    img {
      align-self: center;
    }
  }
} // CUSTOMER REVIEWS END
