/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: $defaultFont;
  font-size: 16px;
  font-weight: $lightWeight;
  min-width: 320px;
}

/* HEADER  */
header {
  display: grid;
  grid-template-columns: 51px auto;
  align-items: center;
  padding: 0.5rem 2vw;
  h1 {
    font-size: 1.6rem;
    font-weight: $lightWeight;
    padding-left: 0.5rem;
    color: $primaryColor;
  }
} // end header

/* NAVIGATION STUFF GOES HERE  */

/* MAIN  */
/* SLIDER CARDS START */
.swiper,
.swiper img {
  width: 100%;
  height: auto;
}

/* CUSTOMER REVIEWS START */
div.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  section {
    padding: 7px;
    img {
      width: 100%;
      height: auto;
      clip-path: circle(50% at 50% 50%);
      transition: transform 1s;
      &:hover {
        transform: rotate(2deg);
      }
    }
  } // End Section
} // End Parent

// end main

/* FOOTER  */
#footerWrapper {
  background-color: #1b1b1b;
}
footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: #bbb;
  text-align: center;
  a {
    color: #eee;
  }
}
