/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: $defaultFont;
  font-size: 16px;
  font-weight: $lightWeight;
  min-width: 320px;
}

/* START OF HEADER  */
header {
  display: grid;
  grid-template-columns: 51px auto;
  align-items: center;
  padding: 0.5rem 2vw;
  margin: 0.3rem 0;
  h1 {
    font-size: 1.6rem;
    font-weight: $lightWeight;
    padding-left: 0.5rem;
    color: $primaryColor;
  }
}

#phone-link-container {
  position: absolute;
  right: 0;
  text-align: center;
  margin: 0 12px;
  padding-right: 0;
  a.phone-link {
    color: $menuColor;
    text-decoration: none;
    font-weight: $normalWeight;
  }
}
// END OF HEADER

/* NAVIGATION STUFF GOES HERE  */

/* ------- MAIN  START ------- */

/* START OF SLIDER */
.swiper,
.swiper img {
  width: 100%;
  height: auto;
}

.swiper {
  position: relative;
}

.swiper-heading {
  position: absolute;
  bottom: 1.5rem;
  left: 0.6rem;
  width: auto;
  padding: 10px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.617);
  border-radius: 0.5rem;
  h3,
  p {
    color: #ffffff;
    text-align: left;
    line-height: 1.5rem;
  }
}

// END OF SLIDER SECTION

/* START OF 4 MASKING IMAGES */
div#mainWrapper main div.mask-head h1 {
  background-color: #ffffff;
  color: #4a2b29;
  border-bottom: none;
  padding: 0.8rem;
  font-size: 1.3rem;
  box-shadow: none;
}

div.masks {
  display: grid;
  section {
    margin: 0.5rem;
    border: 1px solid white;
    position: relative;
    h2 {
      background-color: #391714e8;
      color: white;
      text-align: center;
      padding: 0.5rem;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    img:last-child {
      position: absolute;
      bottom: 0;
    }
  }
}

/* CUSTOMER REVIEWS START */
div#mainWrapper main h1 {
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 2px solid #c4a727;
  background-color: #4c462c;
  margin: 0.6rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  div {
    padding: 0.7rem;
    p {
      margin-top: 0.5rem;
      text-align: left;
      line-height: 1.2rem;
    }
    img {
      width: 100%;
      height: auto;
      clip-path: circle(50% at 50% 50%);
      transition: transform 1s;
      &:hover {
        transform: rotate(4deg);
      }
    }
  } // End Section
} // End Parent
// END OF CUSTOMER REVIEWS

/* ------- END OF MAIN ------- */

/* START OF FOOTER  */
#footerWrapper {
  background-color: $menuColor;
}
footer {
  font-size: 0.85rem;
  padding: 0.6rem 0;
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
}
// END OF FOOTER
