$primaryColor: #cc7a26;
$secondaryColor: #265b7d;

$menuColor: #4c462c;

$defaultFont: "Spline Sans", sans-serif;
$lightWeight: 300;
$normalWeight: 500;

/* potential colors */
// #c4a7a3
// #799c23
// #0aa
// #d72f83

//#75760fee
